__pycache__
%*
.idea
.vscode
src/tasks/humaneval_x/env/vendor
logs
outputs
data/full
results
config.sh
download
.DS_Store
# local*
*.ipynb
.cache
src/server/tasks/card_game/result
.dockerfile
.dockerfile-cache
analysis
data/css_dataset
tmp
data/omnigibson
debug.txt
data/minecraft
src/server/tasks/minecraft/vab_minecraft_src/jarvis/stark_tech/MCP-Reborn
src/server/tasks/minecraft/vab_minecraft_src/jarvis/steveI/weights
src/server/tasks/minecraft/vab_minecraft_src/jarvis/global_configs/envs/*
!src/server/tasks/minecraft/vab_minecraft_src/jarvis/global_configs/envs/jarvis.yaml